{% extends "univoting/base.html" %}
{% load static from staticfiles %}

{% block content %}
       <!-- Header -->
    <div class="jumbotron container-fluid">
        <h3 class="heading mt-2 text-center"> Degree </h3>
        <div class="heading-underline"></div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-5 mr-4">
            <h3 class="heading mt-2 text-center">Curses</h3>
            <div id="accordion" class="container">

                {% regroup subjects|dictsort:"course" by course as course_list %}
                {% for course in course_list %}

                <div class="card">
                    <div class="card-header" id="heading{{ course }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ course.grouper }}" aria-expanded="true" aria-controls="collapse{{ course }}">
                                <!--{{ course }} Course-->
                                {% if forloop.counter == 1 %}
                                    <h6>First course</h6>
                                {% elif forloop.counter == 2 %}
                                    <h6>Second course</h6>
                                {% elif forloop.counter == 3 %}
                                    <h6>Third course</h6>
                                {% elif forloop.counter == 4 %}
                                    <h6>Fourth course</h6>
                                {% elif forloop.counter == 5 %}
                                    <h6>Fifth course</h6>
                                {% endif %}
                            </button>
                        </h5>
                    </div>

                    <div id="collapse{{ course.grouper }}" class="collapse" aria-labelledby="heading{{ course.grouper }}" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-group">
                                {% for subject in course.list %}
                                    <li class="list-group-item"><a href="{% url 'subject' degree.pk subject.pk %}">{{ subject.subject_id.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-5 ml-4">
            <div class="header-content-right">
                <h3 class="heading mt-2 text-center">{{ degree.title }}</h3>
                <p class="mt-4">
                    {{ degree.description }}
                </p>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-5 mr-4">
            <h6 class="heading mt-2 text-center"> BEST QUALIFIED </h6>
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ best_subjects.0.subject_id.name }}
                    Mark: {{ best_subjects.0.subject_id.review.get_mark_rpr }}
                </li>
                <li class="list-group-item">
                    {{ best_subjects.1.subject_id.name }}
                    Mark: {{ best_subjects.1.subject_id.review.get_mark_rpr }}
                </li>
                <li class="list-group-item">
                    {{ best_subjects.2.subject_id.name }}
                    Mark: {{ best_subjects.2.subject_id.review.get_mark_rpr }}
                </li>
              </ul>
            </div>
        </div>

        <div class="col-md-5 ml-4">
            <!--<div class="header-content-right">-->
            <h6 class="heading mt-2 text-center"> WORST QUALIFIED </h6>
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ worst_subjects.0.subject_id.name }}
                    Mark: {{ worst_subjects.0.subject_id.review.get_mark_rpr }}
                </li>
                <li class="list-group-item">
                    {{ worst_subjects.1.subject_id.name }}
                    Mark: {{ worst_subjects.1.subject_id.review.get_mark_rpr }}
                </li>
                <li class="list-group-item">
                    {{ worst_subjects.2.subject_id.name }}
                    Mark: {{ worst_subjects.2.subject_id.review.get_mark_rpr }}
                </li>
              </ul>
            </div>
            <!--</div>-->
        </div>
    </div>

    <br/>
    <br/>
{% endblock %}