
<div id="contact" class="offset">
    <nav class="col-12 narrow text-center">
        <h1>UniApp</h1>
        <p class=""lead>The application to find the best university for you.</p>
        <ul class="navbar-nav navbar-expand-sm justify-content-center">
          <li class="nav-item mr-4 ml-4"><a class="nav-link" href="https://github.com/ToniPF">Toni Pacheco</a></li>
          <li class="nav-item mr-4 ml-4"><a class="nav-link" href="https://github.com/JoanPalau">Joan Palau</a></li>
          <li class="nav-item mr-4 ml-4"><a class="nav-link" href="https://github.com/ntorrent">Nil Torrent</a></li>
        </ul>
    </nav>
</div>
