<div id="contact" class="offset container-contact">
  <div class="jumbotron container-fluid jumbotron-about">
    <h3 class="heading text-center">CONTACT</h3>
    <div class="heading-underline"></div>
  </div>
  <nav class="col-12 narrow text-center" style="margin-top: 9rem;">
    <h1>UniApp</h1>
    <p class="" lead>The application to find the best university for you.</p>
    <ul class="navbar-nav navbar-expand-sm justify-content-center" style="margin-bottom: 12rem;">
      <li class="nav-item mr-4 ml-4"><a class="nav-link" href="https://github.com/ToniPF">Toni Pacheco</a></li>
      <li class="nav-item mr-4 ml-4"><a class="nav-link" href="https://github.com/JoanPalau">Joan Palau</a></li>
      <li class="nav-item mr-4 ml-4"><a class="nav-link" href="https://github.com/ntorrent">Nil Torrent</a></li>
    </ul>
  </nav>
</div>

