{% extends "univoting/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <!-- Header -->
    <div class="jumbotron container-fluid">
        <h3 class="heading mt-2 text-center">{{ object.name }}</h3>
        <div class="heading-underline"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="header-content-left">
                    {% with ''|add:object.picture as image_static %}
                        <img src="{%  static image_static  %}" alt="{{ object.name }} campus" style="width: 100%;">
                    {% endwith %}
                </div>
            </div>

             <div class="col-md-6">
                 <div class="header-content-right">
                     <h3 class="mt-4">Welcome to our campus</h3>
                    <p class="mt-4">
                        {{ object.description }}
                    </p>
                 </div>
            </div>
        </div>

    </div>

{% endblock content %}