{% extends "univoting/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <!-- Header -->
    <div class="jumbotron container-fluid">
        <h3 class="heading mt-2 text-center">{{ university.name }}</h3>
        <div class="heading-underline"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="header-content-left">
                    {% with ''|add:university.picture as image_static %}
                        <img src="{%  static image_static  %}" alt="{{ university.name }} campus" style="width: 100%;">
                    {% endwith %}
                </div>
            </div>

             <div class="col-md-6">
                 <div class="header-content-right">
                     <h3 class="mt-4">Welcome to our campus</h3>
                    <p class="mt-4">
                        {{ university.description }}
                    </p>
                 </div>
            </div>
        </div>


        <div class="row mb-4">
            <div class="col-md-6">
                <lu class="list-group">
                    {% for degree in degrees %}
                        <li class="list-group-item">
                            <a class="ml-4" href="#"> {{ degree.title }} </a>
                        </li>
                    {% endfor %}
                </lu>
            </div>
        </div>

    </div>

{% endblock content %}