{% extends "univoting/base.html" %}
{% load static from staticfiles %}

{% block content %}
  <!-- Header -->
  <div class="jumbotron container-fluid">
    <h3 class="heading mt-2 text-center">Universities</h3>
    <div class="heading-underline"></div>
  </div>


  <div class="row padding justify-content-center">
    <nav aria-label="breadcrumb" class="col-md-8">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <a class="button" href="{% url 'new-university' %}">Nova universitat</a>
  </div>

  <!-- Cards -->
  {% for uni in universities %}
    <div class="row padding justify-content-center">
      <div class="col-md-8">
        <div class="card mb-3">

          {% with ''|add:uni.picture as image_static %}
            <img class="card-img-top" src="{% static image_static %}" alt="{{ uni.name }} campus">
          {% endwith %}

          <div class="card-body">

            <h5 class="card-title">{{ uni.name }}</h5>
            <p class="card-text">{{ uni.description }}

          </div>
          <a href="{% url 'university' uni.pk %}" class="btn btn-outline-primary visitButton ml-4 mb-4">Visit</a>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock content %}